snippet br
	<br />
snippet ul
	<ul>
		${1}
	</ul>
snippet li
	<li>${1}</li>
snippet em
	<em>${1}</em>
snippet strong
	<strong>${1}</strong>
snippet div
	<div class="${1}">${2}</div>
snippet p
	<p>${1}</p>
snippet h2
	<h2>${1}</h2>
snippet h1
	<h1>${1}</h1>
snippet nav
	<nav>
		${1}
	</nav>
snippet article
	<article>
		${1}
	</article>
