snippet assertEquals
	$this->assertEquals(
		${1},
		${2}
	);
snippet assertTrue
	$this->assertTrue(
		${1},
		${2}
	);
snippet export
	var_export(${1}, true)
snippet dump
	var_dump(${1}, true)
snippet verbose
	error_log(
		__LINE__ . ' ' .
		__FILE__ . ' ' .
		var_export(${1}, true)
	);
snippet throw
	throw new RuntimeException(
		'${1}'
	);
