snippet todo
	{# @todo ${1} #}
snippet comment
	{# ${1} #}
snippet ul
	<ul>
		<li>${1}</li>
	</ul>
snippet button
	<button>${1}</button>
snippet li
	<li>${1}</li>
snippet hidden
	<input type="hidden" name="name" id="name" value="">
snippet form
	<form method="POST" action="${1}">
		${2}
	</form>
