[user]
    name = "{{committer_user}}"
    email = {{committer_email}}

[color]
    status = auto
    diff = auto
    branch = auto

[alias]
    amend = commit --amend
    amenda = !git add . -A && git commit --amend --no-edit
    ap = add -p
    b = branch --color
    ba = branch -a --color
    check-whitespace = git diff-tree --check $(git hash-object -t tree /dev/null) HEAD
    ck = checkout
    clean = !git add . && git reset --hard
    co = commit -v
    cob = checkout -b
    d = diff --color
    fixup = commit --amend --no-edit
    g = grep --break --heading --line-number number
    last = log -1 HEAD
    ll = log --date=short --format='%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d' --all --graph
    merge = merge --no-ff
    pull = pull --no-ff
    save = !git add . -A && git commit -m 'savepoint'
    st = !git status -sb && git diff --stat
    t = log --oneline --color --decorate --all --graph
    tt = log --color --decorate --all --graph
    undo = reset HEAD^ --mixed

[core]
    editor = /usr/bin/vim
    excludesfile = /Users/sensorario/.gitignore_global
